<div class="container-fluid">
  <div class="row align-items-center">
    <!--Form-->
    <div class="d-flex col-12 col-xl-6 order-xl-1 align-items-center justify-content-center vh-100">
      <div class="login pt-5 pb-5 ps-3 ps-lg-5">
        <div class="title text-start mb-4">
          <h1>Plataforma de Operações</h1>
          <a href="#">Anova Research</a>
        </div>
        <form class="formLogin" method="post" action="">
          <div class="mb-3">
            <app-input></app-input>

          </div>
          <div class="mb-3">
            <app-input-senha></app-input-senha>
          </div>
          <div class="mb-4 text-start">
            <a href="/registro" target="_blank">Esqueceu sua senha?</a>

          </div>

          <app-button [buttonText] ="'Login'"></app-button>
        </form>

      </div>



    </div>

    <!--imagem-->
    <div class="col col-xl-6 order-xl-2 d-none d-xl-block">
      <img src="images/Frame 1.svg" class="image img-fluid"
      alt="Banner ANOVA">
    </div>

  </div>

</div>
